const char* ssid     = "XXXXXXXXXXX";
const char* password = "XXXXXXXXXXX";

#include <DateTimeTZ.h>
// list of all possibilites here
// https://github.com/mcxiaoke/ESPDateTime/blob/v1.0.3/src/DateTimeTZ.h
const char* timezone = TZ_Europe_Berlin;